<h1 class="text-center my-4"><%= @user.username %>'s Profile </h1>

<%= render 'shared/error', obj: @user %>
<%= gravatar_for(@user, size: 200) %>

<div class="text-center my-4">
    <%= link_to "Edit Your Profile", edit_user_path, class: "btn btn-outline-warning" %>
</div>

<h3 class="text-center my-4">Articles</h3>

<%= render 'articles/articles' %>